html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#root {
  background-color: dimgrey;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: #306a19;
  text-decoration: none;
}

a:active {
  color: #27293E
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: #27293E;
}


.nameAndNav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.sectionName {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: #E8EDDE;
}

.showNav{
  margin-right: 2rem;
}

.nav {
  display: none;
}

.mainContainer{
  height: 90%;
  width: 80%;
  margin: auto;
  background-color: #88A154;
}


